presidio-analyzer
presidio-anonymizer
pdfminer.six
python-docx
flair
spacy
de-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.7.0/de_core_news_lg-3.7.0-py3-none-any.whl